<div class="ui four column stackable center aligned grid">
    <div class="middle aligned row">
        <div class="column">
            <div class="ui icon header">
                <i class="user circle icon"></i>
            ${_member.name}
                <p> height: ${_member.age} mtr</p>
            </div>
        </div>
        <div class="column">
            <div class="ui icon header">
                <i class="weight icon"></i>
                Your Ideal Body Weight
            ${_member.isIdealBodyWeight} kg
            </div>
        </div>
        <div class="column">
            <div class="ui icon header">
                <i class="red heart icon"><span class="ui tiny text">BMI </span></i>
            ${_member.bmi}
            </div>
        </div>
        <div class="column">
            <div class="ui icon header">
                <i class="user md icon"></i>
            ${_member.bmiresult}
            </div>
        </div>
    </div>
</div>